@import 'tailwindcss';

@font-face {
  font-family: universe300;
  src: url(fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: universe500;
  src: url(fonts/Lausanne-500.woff2);
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  font-family: universe300, sans-serif;
}

.animate-colors {
  background: linear-gradient(90deg, #3e3e3e, #fff, #3e3e3e);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.moveX {
  animation: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.movelink {
  opacity: 0;
  transition: all ease 0.3s;
}

.link:hover .movelink {
  opacity: 1;
}
